.item-list {
    background-color: white;
    display: flex;
    width: 100%;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    justify-content: space-between;
}
.view {
    display: list-item;
}
.delete-item {
    color:  #cc9a9a;
    text-align: right;
    padding: 30px;
}
.marker {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 14px;
}
.edit {
    border: none;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
}
.panel {
    color: #777;
    padding: 10px 15px;
    height: 20px;

    background-color: white;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
}
.filter-all, .filter-active, .filter-completed {
    display: inline;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}
.selected  {
    border: 1px solid rgba(175, 47, 47, 0.2);
}
.clear-completed {
    background: none;
    font-size: 100%;
    text-decoration: none;
    border: none;
    color: #777;
    box-sizing: border-box;
    display: none;
}
.checked {
    background: green;
}